In [12]:
import pandas as pd
import numpy as np

In [27]:
# first install library pydataset - pip install pydataset

from pydataset import data

In [28]:
dataset = data('titanic')

In [29]:
dataset.head()

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes
5  1st class  adults  man      yes

In [24]:
# type of object

type(dataset)

pandas.core.frame.DataFrame

In [26]:
# type of variable 

dataset['age'].dtype

dtype('O')